:host{
  /* height: 100vh; */
  width: 100%;

  position: initial;
  margin:0;
  padding:0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

form{

  min-width: 150px;
  max-width: 500px;
  width: 92%;
  margin:1rem 0;

}

mat-form-field{
  width: 100%;
}
mat-grid-list{

  position: initial;
  mat-grid-tile{
/*     width: fit-content;
    height: fit-content; */
    button
    {
      width: 80%;
    }
  }
}

mat-chip-list{
  margin:{
    top:1rem;
    bottom:1rem;
    left:0.4rem;
    right:0.8rem;
  }
  box-sizing: border-box;
  width: 92%;
  border:solid 1px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding:{
    top:0.4rem;
    bottom:0.4rem;
    left:0.4rem;
    right:0.8rem;
  }
}

mat-divider{

  margin:1rem;
  width: 94%;
}

.mat-raised-button{
  padding:0;
}
#submit{
  margin:{
    top:1rem;
    bottom:1rem;
    left:0.4rem;
    right:0.8rem;
  }
  position:initial;
  width:94%;
}

